/* Enable Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

body {
  border: 10px solid #f8edeb; 
  background-image: url(floral_background.avif);
  margin: 0;
  color: #6d6875
}

.title {
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Sticky Top Navigation */
.top-nav {
  position: sticky;
  top: 0;
  background-color: #f8edeb;
  padding: 1rem;
  display: flex;
  justify-content: right;
  gap: 2.5rem;
  align-items: center;
  z-index: 1000; /* Ensure it stays above content */
}

.top-nav a {
  color: #6d6875;
  text-decoration: none;
}

.top-nav .logo {
  display: flex;
  margin-right: auto;
  font-size: 1.4rem;
  color: #6d6875;
  gap: 1rem;
}

.menu-btn {
  font-size: 1rem;
  color: #6d6875;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.menu-btn:hover, .top-nav a:hover {
  transform: scale(1.15);
  opacity: 0.75;
}

/* Add padding to sections so the sticky nav doesn't cover content */
section {
  height: 100vh; /* Make each section fill the screen like a component */
  padding: 80px 20px; 
  scroll-margin-top: 3rem;
}

#about {
  background-color: #fae1dd;
  padding: 1rem;
  margin: 2rem;
  border-radius: 1rem;
}

#experiences {
  background-color: #ffe5d9;
  padding: 1rem;
  margin: 2rem;
  border-radius: 1rem;
}

#projects {
  background-color: #fae1dd;
  padding: 1rem;
  margin: 2rem;
  border-radius: 1rem;
}

#skills {
  background-color: #fcd5ce;
  padding: 1rem;
  margin: 2rem;
  border-radius: 1rem;
}

/* Mobile */

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .top-nav {
    position: fixed;
    top: 0;
    left: -240px;
    height: 100vh;
    width: 220px;
    flex-direction: column;
    padding: 2rem;
    background: white;
    transition: left 0.3s ease;
  }

  .top-nav.open {
    left: 0;
  }
}